body {
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    margin: 0px;
    color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Nav Bar Section */
nav {
    background-color: black;
    display: block;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1000;
}

#nametag {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: inline;
    padding:0px;
    margin: 0px;
    float: right;
}

nav li a {
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color:grey;
}

nav ul li {
    margin-top: 10px;
    margin-right: 25px;
    display: inline;
    float: right;
}

nav .menu {
    font-size: 2.5em;
    display: none;
}

#socialmedia {
    font-size: 30px;
    
}

#socialmedia i, #socialmedia a {
    color: white;
    padding: 10px;
}

@media screen and (min-width: 800px) {
    #nametag {
        display: inline;
        color: white;
        margin-top: 5px;
        margin-bottom: 15px;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        text-decoration: none;
    }

    #nametag:hover {
        color:white;
        text-decoration: underline;
    }

    #pages {
        float: right;
        color: white;
        padding: 15px;
    }
    #pages a {
        float: right;
        color: white;
        padding-left: 25px;
        text-decoration: none;
    }

    #pages a:hover {
        text-decoration: underline;
    }

    #tag {
        vertical-align: center;
    }

    #socialmedia {
        display: inline;
        margin: auto;
        float: left;
        margin-left: 20px;
    }

    #socialmedia a:visited {
        text-decoration: none;
    }

    #socialmedia img {
        display: inline;
        margin-top: 10px;
        margin-right: 20px;
        text-align: center;
    }
}

/* Header Section */

#header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

header {
    padding: 100px 200px 50px 200px;
    font-size: 40px;
    border-bottom: 1px solid rgb(99, 99, 99);
}

#gallerynav {
    text-align: center;
}

#Galleryselection {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 10px;
}

#Galleryselection li {
    padding: 10px;
}

#Galleryselection a {
    padding: 10px;
    border: none;
    color: black;
    text-decoration: none;
}

#Galleryselection a:hover {
    text-decoration: underline;
    color: black;
}

.btn {
    border: none;
    color: black;
    text-decoration: none;
}

.btn:hover {
    text-decoration: underline;
    color: black;
}

.btn:focus {
    outline: none;
    text-decoration: underline;
    color: black;
}

/*Picture section*/

.photos {
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 5;
    column-count: 3;
    column-gap: 50px;
}

.photos img {
    width: 100% !important;
    height: auto !important; 
    transition: all 1s;
}

.photos img:hover {
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 0;
}

.container a.icon {
    display: none;
    padding: 20px;
}

/*Gallery sections*/

@media screen and (max-width: 800px) {
    .photos {
        margin-top: 10px;
        padding-left: 100px;
        padding-right: 100px;
        line-height: 5;
        column-count: 1;
    }

    .container {
        position: relative;
        font-size: 1.5em;
        height: auto;
    }

    #nametag {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
        
    }

    #nametag a {
        height: 60px;
    }

    #nametag:hover {
        color: white;
        text-decoration: underline;
    }

    #pages, #socialmedia {
        display: none;
        text-align: center;
        padding: 20px;
    }

    #socialmedia img {
        display: inline;
        height: 30px;
    }

    #pages a {
        padding: 20px;
        font-size: 2em;
    }

    #pages a:hover {
        color: white;
        text-decoration: underline;
    }

    .container a {
        display: block;
        text-decoration: none;
        color: white;
    }

    .container a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding-top: 5px;
    }

    #gallerynav {
        overflow: auto;
        white-space: nowrap;
    }

    #Galleryselection a, #Galleryselection li {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    #Galleryselection a, #Galleryselection li {
        font-size: 1.5em;
    }

    .photos {
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 5;
        column-count: 1;
    }
}